<div class="wrapper">
  <div class="container">
    <h2><%= link_to "Create a new task", new_task_path %></h2>
    <table>
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Task</th>
          <th>Deadline</th>
          <th>Completed</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @tasks.order(:deadline).each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td id="task_name"><%= task.name %></td>
          <td><%= task.deadline.strftime("%d %B %Y") %></td>
          <td><% if task.completed == true %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </td>
          <td><%= link_to "show", task_path(task) %> | <%= link_to "edit", edit_task_path(task) %> | <%= link_to "delete", task_path(task),
          method: :delete,
          data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
