<div class="wrapper">
  <div class="container">
    <h2>Enter a new task:</h2>
    <%= form_for(@task) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :deadline %>
      <%= f.text_field :deadline %>
      <%= f.submit %>
    <% end %>

  </div>
</div>
